{% extends "base.html" %}

{% block body %}

<div class="wrapper fadeInDown" style="width: 50vw; margin-left : 25vw; margin-top: 16px; margin-bottom: 16px;">
    <h2>Edit password</h2>
        <form method="post" class="form-outline">
        {% csrf_token %}
        <table>     
        {% include 'includes/form.html' with form=form %}
        {% if messages %}
        <ul class="messages" style="margin-top:8px">
            {% for message in messages %}
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}
        </table>
        <button type="submit" class="btn btn-primary" style="margin-top: 16px;">Save</button>
    </form>
</div>

{% endblock %}