{% extends "base.html" %}

{% block body %}

<div class="wrapper fadeInDown" style="width: 50vw; margin-left : 25vw; margin-top: 16px; margin-bottom: 16px;">
    <h2>Edit profile</h2>
        <form method="post" class="form-outline">
        {% csrf_token %}
        <table>     
        {% include 'includes/form.html' with form=form %}
        </table>
        <button type="submit" class="btn btn-primary" style="margin-top: 16px;">Save</button>
    </form>
</div>

{% endblock %}