{% extends "base.html" %}

{% block body %}

<div class="container" style="width: 50vw; margin-left : 25vw; margin-top: 16px; margin-bottom: 16px;">
    <h2>Profile</h2>
    <p></p>            
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Username: 
        </dt>
        <dd class = "col-sm-10">
            {{ user.username }}
        </dd>
        <dt class = "col-sm-2">
            Name:
        </dt>
        <dd class = "col-sm-10">
            {{ user.get_full_name }}
        </dd>
        <dt class = "col-sm-2">
            Email:
        </dt>
        <dd class = "col-sm-10">
            {{ user.email }}
        </dd>
        <dt class = "col-sm-2">
            Phone:
        </dt>
        <dd class = "col-sm-10">
            {{ user.phone }}
        </dd>
        <dt class = "col-sm-2">
            Address:
        </dt>
        <dd class = "col-sm-10">
            {{ user.address }}
        </dd>
        <dt class = "col-sm-2">
            City and zipcode:
        </dt>
        <dd class = "col-sm-10">
            {{ user.cityzip }}
        </dd>
        <dt class = "col-sm-2">
            Date joined:
        </dt>
        <dd class = "col-sm-10">
            {{ user.date_joined }}
        </dd>
        <dt class = "col-sm-2">
            Last login:
        </dt>
        <dd class = "col-sm-10">
            {{ user.last_login }}  
        </dd>
    </dl>
    <a type="button" class="button" href="{% url 'profile_edit' %}"><button class="btn btn-primary">Edit</button></a>
    <a type="button" class="button" href="{% url 'change_password' %}"><button class="btn btn-primary">Change password</button></a>
  </div>


{% endblock %}