<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dispensing Boxes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
  </head>
  <body>
    <!doctype html>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container px-5">
          <a class="navbar-brand" href="/">Dispensing Boxes</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item"><a class="nav-link" href="{% url 'track' %}">Track your parcel</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'send' %}">Sending</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'boxes' %}">Boxes</a></li>
                  {% if request.user.is_superuser %}
                  <li class="nav-item"><a class="nav-link" href="/admin/">Admin</a></li>
                  {% endif %}
                  {% if request.user.is_authenticated %}
                  <li class="nav-item"><a class="nav-link" href="{% url 'parcel_list' %}">Yours parcels</a></li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Hello {{ request.user.username }}!</a>
                  </li>
                  <li class="nav-item">
                    <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="btn btn-primary btn-md" href="{% url 'login' %}">Login</a>
                  </li>
                  {% endif %}
              </ul>

          </div>
      </div>
  </nav>
       
  {% block body %}{% endblock %}

  <footer class="border-top footer text-muted fixed-bottom py-3 bg-dark">
    <div class="container px-5"><p class="m-0 text-center text-white">Dominik Lichnovský - LIC0090</p></div>
</footer>
  </body>
</html>