{% extends "base.html" %}

{% block body %}
 <!-- Header-->
 <header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Delivery and Sending Parcels</h1>
                    <p class="lead text-white-50 mb-4">We are the solution for shipping parcels all over the world. Send packets through network of dispensing boxes.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'register' %}">Create account</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#features">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Features section-->
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                <h2 class="h4 fw-bolder">Sending the parcel</h2>
                <p>Simply enter your parcel into the website and take it to a submission point.</p>
                <a class="text-decoration-none" href="{% url 'send' %}">
                    Send a parcel
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                <h2 class="h4 fw-bolder">Track parcel</h2>
                <p>Simply enter the tracking number of the parcel into the website.</p>
                <a class="text-decoration-none" href="{% url 'track' %}">
                    Track your parcel
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                <h2 class="h4 fw-bolder">Network of boxes</h2>
                <p>The Boxes introduces 21st century delivery and a way to pick up your parcel without lines and contact. </p>
                <a class="text-decoration-none" href="{% url 'boxes' %}">
                    Boxes
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
