{% extends "base.html" %}

{% block body %}
<div class="wrapper fadeInDown" style="width: 50vw; margin-left : 25vw; margin-top: 16px; margin-bottom: 16px;">
  <h2 >Log In </h2>
  <form method="post">
    {% csrf_token %}
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
    {% endif %}
    {{ form.as_p  }}
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <p></p>
  <div>
    <a class="underlineHover" href="{% url 'register' %}">Register</a>
  </div>
  <div>
    <a class="underlineHover" href="{% url 'recover' %}">Forgot Password?</a>
  </div>

</div>


{% endblock %}