{% extends "base.html" %}

{% block body %}

<div class="wrapper fadeInDown" style="width: 50vw; margin-left : 25vw; margin-top: 50px; margin-bottom: 50px;">
    <h2>Recover user account</h2>
    <form method="post">
      {% csrf_token %}
      {% include 'includes/form.html' with form=form %}
      {% if messages %}
        <ul class="messages" style="margin-top:8px">
            {% for message in messages %}
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}
      <button type="submit" class="btn btn-primary">Recover</button>
    </form>
    <p></p>
    <div>
      <a class="underlineHover" href="{% url 'register' %}">Register</a>
    </div>
</div>

{% endblock %}
