{% extends "base.html" %}

{% block body %}

<div class="container" style="width: 50vw; margin-left : 25vw; margin-top: 16px; margin-bottom: 16px;">
    <h2>Box Info</h2>
    <p>Details about this Box</p>            
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Box ID: 
        </dt>
        <dd class = "col-sm-10">
            {{ box.id }}
        </dd>
        <dt class = "col-sm-2">
            Address:
        </dt>
        <dd class = "col-sm-10">
            {{ box.address }}
        </dd>
        <dt class = "col-sm-2">
            City:
        </dt>
        <dd class = "col-sm-10">
            {{ box.city }}
        </dd>
        <dt class = "col-sm-2">
            Status:
        </dt>
        <dd class = "col-sm-10">
            {{ status }}
        </dd>
    </dl>
  </div>


{% endblock %}