{% extends "base.html" %}

{% block body %}
<div class="container" style="width: 50vw; margin-left : 25vw; margin-top: 16px; margin-bottom: 16px;">
<div class="container">
    <h2>Box List</h2>
    <p>List of all boxes</p>            
    <table class="table">
      <thead>
        <tr>
          <th>Box ID</th>
          <th>Address</th>
          <th>City</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for box in boxes_list %}
        <tr>
          <td>{{ box.id }}</td>
          <td>{{ box.address }}</td>
          <td>{{ box.city }}</td>
          <td><a class="button" href="{% url 'box_id' box.id %}">Details</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}