{% extends "base.html" %}

{% block body %}
<div class="container" style="width: 50vw; margin-left : 25vw; margin-top: 16px; margin-bottom: 16px;">
<div class="container">
    <h2>Parcel List of Active User</h2>
    <p>List of user parcels</p>            
    <table class="table">
      <thead>
        <tr>
          <th>Parcel ID</th>
          <th>Receiver</th>
          <th>Sender</th>
          <th>TypeOfParcel</th>
          <th>Box ID</th>
          <th>Pick Up Password</th>
          <th>Send In Password</th>
        </tr>
      </thead>
      <tbody>
        {% for parcel in parcel_l %}
        <tr>
          <td>{{ parcel.id }}</td>
          <td>{{ parcel.id_receiver }}</td>
          <td>{{ parcel.id_sender }}</td>
          <td>{{ parcel.typeOfParcel }}</td>
          <td>{{ parcel.id_box }}</td>
          <td>{{ parcel.password_sendIn }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}