{% extends "base.html" %}

{% block body %}


<div class="container" style="width: 50vw; margin-left : 25vw; margin-top: 16px; margin-bottom: 16px;">
    <h2>Parcel Info</h2>
    <p>Info about your parcel</p>            
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Parcel ID: 
        </dt>
        <dd class = "col-sm-10">
            {{ parcel.id }}
        </dd>
        <dt class = "col-sm-2">
            Receiver:
        </dt>
        <dd class = "col-sm-10">
            {{ parcel.id_receiver.get_full_name }}
        </dd>
        <dt class = "col-sm-2">
            Sender:
        </dt>
        <dd class = "col-sm-10">
            {{ parcel.id_sender.get_full_name }}
        </dd>
        <dt class = "col-sm-2">
            Type of Parcel:
        </dt>
        <dd class = "col-sm-10">
            {{ parcel.typeOfParcel.name }}
        </dd>
        <dt class = "col-sm-2">
            To Box:
        </dt>
        <dd class = "col-sm-10">
            {{ parcel.id_box }}
        </dd>
        <dt class = "col-sm-2">
            Date stored:
        </dt>
        <dd class = "col-sm-10">
            {{ parcel.date_store }}  
        </dd>
        <dt class = "col-sm-2">
            To Picked Up Date:
        </dt>
        <dd class = "col-sm-10">
            {{ parcel.date_toPickedUp }}  
        </dd>
        <dt class = "col-sm-2">
            Picked Up Date:
        </dt>
        <dd class = "col-sm-10">
            {{ parcel.date_pickedUp }}  
        </dd>
    </dl>
  </div>




{% endblock %}