{% extends "base.html" %}

{% block body %}

<div class="wrapper fadeInDown" style="width: 50vw; margin-left : 25vw; margin-top: 50px; margin-bottom: 50px;">
        <h2>Track parcel</h2>
        <h5>Enter the tracking number of the parcel</h5>
    <div class="input-group">
        <form method="post" class="form-outline">
        {% csrf_token %}
        {% include 'includes/form.html' with form=form %}
        <button type="submit" class="btn btn-primary" style="height:38px; margin-top: 16px;">Search</button>
        </form>
        
    </div> 
    
</div>


{% endblock %}